h3.bsection {
	color: #ED5F34;
}

.answer {
	padding-left: 2em;
}
.question {
	/*color: #565051;*/
	text-decoration: underline;
}
.question-text {
	color: #565051;
}
ol .answer {
	padding-left: 1em;
}
ul .answer {
	padding-left: 1em;
}
#m3_embedmap {
	height: 400px;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}
#m4_embedmap {
	height: 600px;
	width: 100%;
}
#m10_embedmap {
	height: 400px;
	width: 60%;
}
#embedmap {
	width: 100%;
	height: 500px
}
#map {
	width: 100%;
	height: 500px
}
.iWindow {
	width: 300px;
	height: 60px;
}
/*p.short {
 line-height:100%;
 }*/
.answer img {
	border: 1px solid black;
}
.wordwrap {
	/* wrap long text and urls */
	white-space: pre; /* CSS 2.0 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3.0 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	word-wrap: break-word; /* IE 5+ */
}
.layersDiv label {
	color: #ffffff;
}



