body {

}
h3.bsection {
	color: #ED5F34;
}

.answer {
	padding-left: 2em;
}
.question {
	/*color: #565051;*/
	text-decoration: underline;
}
.question-text {
	color: #565051;
}
ol .answer {
	padding-left: 1em;
}
ul .answer {
	padding-left: 1em;
}
#m3_embedmap {
	height: 400px;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}
#m4_embedmap {
	height: 600px;
	width: 100%;
}
.iWindow {
	width: 300px;
	height: 60px;
}
/*p.short {
 line-height:100%;
 }*/
img {
	border: 1px solid black;
}
